<div class="col-md mb-3">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a href="/" class="d-flex align-items-center text-decoration-none text-light mt-1 me-auto">
            <i class="bi bi-tv fs-1 me-2"></i>
            <div class="d-flex flex-column lh-1">
                <span class="fw-bold font-monospace">Xtream</span>
                <span class="text-muted font-monospace">Web TV</span>
            </div>
        </a>
        <div class="d-flex justify-content-center align-items-center gap-3 py-2">
            <!--
            <% if (account.user_info.message !=='undefined' && account.user_info.message !=='' ){ %>
                <%= account.user_info.message %>
                <%}%>
            <div class="vr"></div>
            <span class="bi bi-person">
                <%= account.user_info.username %>
                <div class="vr"></div> 
            </span>
            <%= account.user_info.status %>
            <div class="vr"></div>
            <span class="bi bi-calendar me-2"> Expires <%= account.user_info.expires %></span>
            <div class="vr"></div>
             -->

            <div class="btn-group">
                <button type="button" class="fs-4 btn btn-secondary-outline dropdown-toggle bi bi-gear" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                    <li><h6 class="dropdown-header bibi bi-list-stars"> Bouquets</h6></li>
                    <li><a id="updateMenuItem" class="dropdown-item bi bi-arrow-clockwise" onclick="updateChannelsManually()" type="button"> Update now</a></li>
                    <li><a id="hideBouquets" class="dropdown-item bi bi-funnel" onclick=" bouquetsModal.show();" type="button"> Show/Hide</a></li>
                    <li>  
                        <span class="dropdown-item no-close" >
                            <input checked type="checkbox" class="form-check-input" id="piconsCheck" onchange="togglePicons();">
                            <label class="form-check-label" for="piconsCheck">Show Picons</label>
                        </span>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 title="Expires <%= account.user_info.expires %>" class="dropdown-header bi bi-person"> <%= account.user_info.username %></h6></li>
                    <li><a class="dropdown-item bi bi-box-arrow-left" href="/logout" type="button"> Logout</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item bi bi-github" target="_blank" href="https://github.com/kolle86/xtream-web-tv" type="button"> Info</a></li>

                </ul>
              </div>
        </div>
    </header>
</div>